<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.albazip">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".config.ApplicationClass"
        android:allowBackup="true"
        android:exported="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:theme="@style/Theme.Albazip">

        <service
            android:name="com.google.firebase.messaging.FirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".src.main.ManagerMainActivity">

        </activity>
        <activity android:name=".src.main.WorkerMainActivity" >

        </activity>
        <activity android:name=".src.register.manager.ManagerOnBoardingActivity" />
        <activity android:name=".src.register.manager.InputPlaceMoreActivity" >

        </activity>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="9b17465bab986538ecc5bcc77361fcd2" />

        <activity
            android:name=".src.register.manager.SearchPlaceActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".src.register.manager.RegisterPlaceActivity" >

        </activity>
        <activity android:name=".src.home.common.HomeActivity" />
        <activity android:name=".src.login.LoginActivity" />
        <activity android:name=".src.register.common.RegisterActivity" />
        <activity android:name=".src.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".src.main.MainActivity">
        </activity>
        <activity android:name=".src.register.manager.InputBNumActivity" />
        <activity android:name=".src.register.worker.RegisterJoinActivity" />
        <activity android:name=".src.register.worker.WorkerOnBoardingActivity" />
        <activity android:name=".src.home.common.SettingActivity" />


        <activity android:name=".src.mypage.worker.myInfo.ui.LateCheckActivity">

        </activity>
        <activity android:name=".src.mypage.worker.myInfo.ui.TogetherWorkActivity"/>
        <activity android:name=".src.mypage.worker.myInfo.ui.DoneWorkActivity"/>
        <activity android:name=".src.mypage.worker.myInfo.ui.SelectMonthListActivity"/>
        <activity android:name=".src.mypage.manager.workerlist.ui.AddWorkerOneActivity"
            android:windowSoftInputMode="adjustResize">

        </activity>
        <activity android:name=".src.mypage.worker.myInfo.ui.SelectDayListActivity"/>
        <activity android:name=".src.mypage.manager.workerlist.ui.AddWorkerTwoActivity"
            android:windowSoftInputMode="adjustPan"
            >

        </activity>

        <!-- setting -->
        <activity android:name=".src.mypage.common.setting.AlarmSettingActivity">

        </activity>

        <activity android:name=".src.mypage.common.setting.MMyPageSettingActivity">

        </activity>

        <activity android:name=".src.mypage.common.setting.ManageMyInfoActivity"/>
        <activity android:name=".src.mypage.common.setting.AppNoticeActivity"/>
        <activity android:name=".src.mypage.common.setting.EditMyInfoActivity"/>
        <activity android:name=".src.mypage.common.setting.EditPhoneNumActivity"/>
        <activity android:name=".src.mypage.common.setting.ServiceLawActivity"/>
        <activity android:name=".src.mypage.common.setting.SubScribeActivity"/>
        <activity android:name=".src.mypage.common.setting.WithDrawMemberActivity"/>
        <activity android:name=".src.mypage.common.setting.WMyPageSettingActivity"/>

        <activity android:name=".src.home.manager.opened.ui.QRShowingActivity"/>
        <activity android:name=".src.home.common.HomeAlarmActivity"/>
        <activity android:name=".src.home.manager.opened.ui.TodaysWorkerListActivity"/>

        <activity android:name=".src.home.manager.worklist.ui.HomeMTodayToDoListActivity">

        </activity>

        <activity android:name=".src.home.worker.opened.QRScanningActivity"
            android:theme="@style/Theme.Transparent"/>

        <activity android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation"/>

        <activity android:name=".src.home.common.HomeShopListActivity"/>

        <activity android:name=".src.home.worker.opened.worklist.ui.HomeWTodayToDoListActivity"/>
        <activity android:name=".src.withdraw.ui.DefaultWithDrawActivity"/>

        <activity android:name=".src.login.ReInputPhoneActivity"/>
        <activity android:name=".src.login.RePWActivity"/>

    </application>


</manifest>